div#container {
	margin: 0 auto;
	padding: 20px 0 30px;
	width: 90%;
}

div#map {
	height: 90%;
	border-style: dotted;
	border-width: 1px;
}

div#items {
	width: 30%;
	float: left;
	height: 90%;
	overflow: auto;
	border-style: dotted;
	border-width: 1px;
}